<!DOCTYPE html>
<html lang="es" class="!scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/img/biblioteca.png">
    <title>@ViewData["Title"] | Vasty´s Coffee</title>

    <!--Css y Tailwind-->
    <link rel="stylesheet" href="~/css/output.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/be9e926d45.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--navbar-->
    <div class="fixed w-full bg-white/80 backdrop-blur-sm dark:bg-zinc-800/80 z-10">
        <div class="max-w-nav mx-auto px-4 md:px-6">
            <div class="w-full flex flex-wrap justify-between items-center">
                <a asp-action="Index" asp-controller="Admin"><h1 class="text-xl md:text-2xl
                font-bold
                text-black
                dark:text-white">
                    <img id="logo" src="~/img/logo-claro.png" alt="Vasty´s Coffe" class="w-20 md:w-28">
                </h1></a>
                
                <div id="bgBlackBtn" class="hidden absolute top-0 left-0 w-screen h-screen bg-black/25"></div>
                <nav id="menu" class="fixed lg:static top-0 right-0 lg:p-0 px-3 py-2 lg:min-h-0 min-h-screen lg:bg-transparent lg:dark:bg-transparent bg-white dark:bg-black/80 lg:z-0 z-10 flex justify-center items-center lg:translate-x-0 translate-x-full transition duration-500 ease-in-out">
                    <div id="btnClose" class="block lg:hidden absolute top-3 right-4 px-3 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-700 cursor-pointer">
                        <i class="fas fa-times text-black dark:text-white"></i>
                    </div>
                    <ul class="flex lg:flex-row flex-col justify-center items-center gap-6 font-semibold lg:p-0 p-4">
                        <li>
                            <a asp-action="Index" asp-controller="Admin" class="hover:underline hover:underline-offset-4 text-black dark:text-white link">Inicio</a>
                        </li>
                        <li>
                            <a asp-action="Users" asp-controller="Admin" class="hover:underline hover:underline-offset-4 text-black dark:text-white link">Usuarios</a>
                        </li>
                        <li>
                            <a asp-action="Books" asp-controller="Admin" class="hover:underline hover:underline-offset-4 text-black dark:text-white link">Libros</a>
                        </li>
                    </ul>
                </nav>
                <div class="flex justify-center items-center gap-4">
                    <!--<button type="button" class="px-3 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-700">
                        <i class="fas fa-user text-black dark:text-white"></i>
                    </button>-->
                    <a asp-action="Logout" asp-controller="Signin" class="px-3 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-700">
                        <i class="fas fa-sign-out-alt text-amber-600"></i>
                    </a>
                    <button id="btnTheme" type="button" class="px-3 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-700">
                        <i id="iconTheme" class="fas fa-sun dark:text-amber-300"></i>
                    </button>
                    <button id="btnMenu" type="button" class="block lg:hidden px-3 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-700">
                        <i class="fas fa-bars text-black dark:text-white"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/theme.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>