@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>

    <!--Css y Tailwind-->
    <link rel="stylesheet" href="~/css/output.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/be9e926d45.js" crossorigin="anonymous"></script>
</head>
<body class="bg-amber-300 dark:bg-amber-700">
    <h1 class="font-extrabold text-2xl text-red-800">Hola mundo!!</h1>

    <button id="btnTheme" type="button" class="px-3 py-2 rounded bg-gray-600 dark:bg-gray-300">
        <i id="iconTheme" class="fas fa-sun"></i>
    </button>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
