@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/img/biblioteca.png">
    <title>Iniciar Sesión | Proyecto Café</title>
    <!--Css y Tailwind-->
    <link rel="stylesheet" href="~/css/output.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/be9e926d45.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bg-white dark:bg-zinc-800 min-h-screen flex flex-col">
        <div class="flex justify-between items-center md:p-4 p-2">
            <a asp-action="Index" asp-controller="Home" class="px-3 py-2 rounded bg-amber-700 hover:bg-amber-600 cursor-pointer text-white" >Volver</a>
            <button id="btnTheme" type="button" class="px-3 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-700">
                <i id="iconTheme" class="fas fa-sun dark:text-amber-300"></i>
            </button>
        </div>
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white dark:bg-zinc-700 px-6 py-8 rounded shadow-md text-black dark:text-white w-full">
                <h1 class="mb-8 text-3xl text-center dark:text-white font-semibold">¡Bienvenido!</h1>
                <input 
                    type="text"
                    class="block border focus:outline focus:outline-amber-700 w-full p-3 rounded mb-4 text-zinc-500"
                    name="email"
                    placeholder="Email" />

                <div class="relative w-full">
                    <input 
                    type="password"
                    class="block border focus:outline focus:outline-amber-700 w-full p-3 rounded mb-4 text-zinc-500"
                    name="Password"
                    placeholder="Contraseña" />
                    <button type="button" id="btnEye" class="absolute inset-y-0 right-0 flex items-center px-3 py-2 rounded">
                        <i id="iconEye" class="fas fa-eye text-zinc-400"></i>
                    </button>
                </div>
                <button
                    type="submit"
                    class="w-full text-center py-3 rounded bg-amber-600 text-white hover:bg-green-dark focus:outline-none my-1"
                >
                    Iniciar Sesión
                </button>
            </div>

            <div class="dark:text-white mt-6">
                No tienes cuenta? 
                <a asp-action="Register" asp-controller="Signin" class="no-underline border-b border-blue text-blue">
                    Registrarse
                </a>.
            </div>
        </div>
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/password.js"></script>
<script src="~/js/theme.js"></script>
</body>
</html>